<body>
   <h2>Title</h2>
   {%if students length=0%}
   <h3>No students found ...</h3>
   {%else%)I
   <table class="table">
      <thead>
          <tr>
</body>
             <th>ID</th>
             <th>Name</th>
             <th>Surname</th>
             <th>Email</th>
          {%for student in students%)
                <td>{{student.id}}</td>
                <td>{{student.name}}</td>
                <td>{{student.surname}}</td>
                <td>{{student.email}}</td>
            </tr>
          {%endfor%}